.box {
  background-color: white;
  border: none;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 4rem !important;
  height: 4rem !important;
  text-align: center;
  font-size: 3em;
  font-family: lato;
  font-weight: bold;
  line-height: 4rem;
  margin: 0.4rem;
  padding: 0 !important;
}

.x {
  color: #3a89d5;
}

.o {
  color: #39bcd3;
}

.box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
