.main {
  background-color: #e9edf2;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  height: 50vh;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  display: flex;
}
.inner .left {
  font-family: Lato;
  font-weight: 800;
  font-size: 30px;
  color: #57708a;
  width: 50%;
  height: 100%;
}
.inner .left button {
  padding: 15px;
  background-color: #e9edf2;
  border: 1px solid #57708a;
  color: #57708a;
  border-radius: 30px;
  cursor: pointer;
}
.inner .left button:hover {
  background-color: #57708a;
  color: #e9edf2;
}
.inner .right {
  width: 50%;
  height: 100%;
}
.right img {
  width: 100%;
  height: 100%;
}
.homeControlBtn {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
.rulesBtn {
  font-size: 16px;
  border-bottom: 1px solid #57708a;
  font-weight: normal;
  cursor: pointer;
}
.help {
  position: relative;
}
.help .text {
  position: absolute;
  font-size: 20px;
  color: #57708a;
  cursor: pointer;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .inner .left {
    font-family: Lato;
    font-weight: 800;
    font-size: 20px;
    color: #57708a;
    width: 50%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .inner .left {
      font-size: 18px;
    }
    .inner .left button {
      padding: 10px;
      font-size: 12px;
    }
    .rulesBtn {
      font-size: 12px;
    }
    .inner {
      height: 40vh;
    }
    .right img {
      width: 100%;
      height: 80%;
    }
  }
  @media (max-width: 426px) {
    .inner .left {
      font-size: 20px;
      width: 100%;
      margin-top: 2%;
    }
    .inner .left button {
      padding: 8px;
      font-size: 12px;
    }
    .rulesBtn {
      font-size: 12px;
    }
    .inner {
      height: 50vh;
    }
    .help .text {
      position: absolute;
      font-size: 16px;
      color: #57708a;
      cursor: pointer;
    }
    .inner .right {
      display: none;
    }
  }
}
